:root {
	--load-fade-duation: 3s;

	--menu-transition-duration: 500ms;
	--menu-icon-size: 3em;
}

@keyframes fade-in-to-70 {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.7;
	}
}

@keyframes fade-in-to-100 {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;
	}
}


body {
	background-image: url("../images/background.png");
	background-color: #000000;
	background-size: auto;
	background-position: center top;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
}

.rg_logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	max-height: 80%;

	/*Fade in*/
	animation: fade-in-to-70 var(--load-fade-duation) linear;
	opacity: 0.7;
}

/* Drop Menu Functionality */
nav {
	position: absolute;

	/*Fade in*/
	opacity: 0;
	animation: fade-in-to-100 1s ease var(--load-fade-duation) 1 normal forwards;
}

nav span {
	display: block;
	font-size: var(--menu-icon-size);
	height: 1em;
	width: 1em;
	text-align:center;

	/*Transition*/
	transition: color var(--menu-transition-duration);
	color: maroon;
}

nav .drop-menu {
	background-color: white;
	overflow: hidden;
	transform-origin: top;

	/*Transition*/
	transition: transform var(--menu-transition-duration), 
				opacity var(--menu-transition-duration) ease-in,
				max-height 0ms linear var(--menu-transition-duration);
	transform: scaleY(0);
	opacity: 0;
	max-height: 0;
}

nav .drop-menu a {
	text-decoration: none;
	display: block;
	padding: 0.75em;
}

nav .drop-menu a:hover {
	background-color: lightgray;
}

nav .drop-menu:hover,
nav .drop-menu:focus,
nav span:hover + .drop-menu,
nav span:focus + .drop-menu {
	/*Transition*/
	transition: transform var(--menu-transition-duration), opacity var(--menu-transition-duration) ease-out;
	transform: scaleY(1);
	opacity: 1;
	max-height: 100%;
}

nav:hover span {
	/*Transition*/
	transition: color var(--menu-transition-duration);
	color: red;
}

nav .drop-menu-void {
	position: absolute;
	right: 0;
	top: 0;
	left: var(--menu-icon-size);
	height: var(--menu-icon-size);
}

nav .drop-menu-void:hover + span {
	color: maroon;
}