.rainbow {
    color: transparent;background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);-webkit-background-clip: text;-moz-background-clip: text;background-clip: text;font-size: 80px;
}
